# ======================
# macOS
# ======================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# ======================
# Node.js
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# Build / Dist
# ======================
dist/
build/

# ======================
# Environment variables
# ======================
.env
/venv

# ======================
# TypeScript
# ======================
*.tsbuildinfo

# ======================
# IDEs / Editors
# ======================
.vscode/
.idea/

mysql-db/


# Python
venv/
.venv/
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# PyTorch
*.pt
*.pth

# macOS
.DS_Store